

h4 {
    font-variation-settings: "ital" 0, "wght" 500, "wdth" 100;
}

.fs--base {
    font-size: $font-size-base;
}

.fs--base-xl {
    font-size: $font-size-base-xl;
}

.fs-xl--base-xl {
    @include media-breakpoint-up(xl) {
        font-size: $font-size-base-xl;
    }
}

.fs-lg--base-xl {
    @include media-breakpoint-up(lg) {
        font-size: $font-size-base-xl;
    }
}

.fs-md--base-xl {
    @include media-breakpoint-up(md) {
        font-size: $font-size-base-xl;
    }
}

.fs-sm--base-xl {
    @include media-breakpoint-up(sm) {
        font-size: $font-size-base-xl;
    }
}




.fs--base-lg {
    font-size: $font-size-base-lg;
}

.fs-xl--base-lg {
    @include media-breakpoint-up(xl) {
        font-size: $font-size-base-lg;
    }
}

.fs-lg--base-lg {
    @include media-breakpoint-up(lg) {
        font-size: $font-size-base-lg;
    }
}

.fs-md--base-lg {
    @include media-breakpoint-up(md) {
        font-size: $font-size-base-lg;
    }
}

.fs-sm--base-lg {
    @include media-breakpoint-up(sm) {
        font-size: $font-size-base-lg;
    }
}


.fs--base-md {
    font-size: $font-size-base-md;
}

.fs-xl--base-md {
    @include media-breakpoint-up(xl) {
        font-size: $font-size-base-md;
    }
}

.fs-lg--base-md {
    @include media-breakpoint-up(lg) {
        font-size: $font-size-base-md;
    }
}

.fs-md--base-md {
    @include media-breakpoint-up(md) {
        font-size: $font-size-base-md;
    }
}

.fs-sm--base-md {
    @include media-breakpoint-up(sm) {
        font-size: $font-size-base-md;
    }
}

.fs--base-list {
    font-size: $font-size-list;
}

.fs-xl--base-list {
    @include media-breakpoint-up(xl) {
        font-size: $font-size-list;
    }
}

.fs-lg--base-list {
    @include media-breakpoint-up(lg) {
        font-size: $font-size-list;
    }
}

.fs-md--base-list {
    @include media-breakpoint-up(md) {
        font-size: $font-size-list;
    }
}

.fs-sm--base-list {
    @include media-breakpoint-up(sm) {
        font-size: $font-size-list;
    }
}


.fs--base-sm {
    font-size: $font-size-base-sm;
}

.fs-xl--base-sm {
    @include media-breakpoint-up(xl) {
        font-size: $font-size-base-sm;
    }
}

.fs-lg--base-sm {
    @include media-breakpoint-up(lg) {
        font-size: $font-size-base-sm;
    }
}

.fs-md--base-sm {
    @include media-breakpoint-up(md) {
        font-size: $font-size-base-sm;
    }
}

.fs-sm--base-sm {
    @include media-breakpoint-up(sm) {
        font-size: $font-size-base-sm;
    }
}



.fs--base-xs {
    font-size: $font-size-base-xs;
}

.fs-xl--base-xs {
    @include media-breakpoint-up(xl) {
        font-size: $font-size-base-xs;
    }
}

.fs-lg--base-xs {
    @include media-breakpoint-up(lg) {
        font-size: $font-size-base-xs;
    }
}

.fs-md--base-xs {
    @include media-breakpoint-up(md) {
        font-size: $font-size-base-xs;
    }
}

.fs-sm--base-xs {
    @include media-breakpoint-up(sm) {
        font-size: $font-size-base-xs;
    }
}



.fw-500-w-100 {
    font-variation-settings: "ital" 0, "wght" 500, "wdth" 100;
}
.fw-500 {
    font-variation-settings: "ital" 0, "wght" 500, "wdth" 125;
}



.fw-800 {
    font-variation-settings: "ital" 0, "wght" 800, "wdth" 125;
}

.fw-sm-800 {
    @include media-breakpoint-up(sm) {
        font-variation-settings: "ital" 0, "wght" 800, "wdth" 125;
    }
}

.fw-700 {
    font-variation-settings: "ital" 0, "wght" 700, "wdth" 125;
}

.fw-sm-700 {
    @include media-breakpoint-up(sm) {
        font-variation-settings: "ital" 0, "wght" 700, "wdth" 125;
    }
}

.fw-400 {
    font-variation-settings: "ital" 0, "wght" 400, "wdth" 100;
}

.fw-sm-400 {
    @include media-breakpoint-up(sm) {
        font-variation-settings: "ital" 0, "wght" 400, "wdth" 100;
    }
}

.fw-300 {
    font-variation-settings: "ital" 0, "wght" 300, "wdth" 100;
}

.fw-sm-300 {
    @include media-breakpoint-up(sm) {
        font-variation-settings: "ital" 0, "wght" 300, "wdth" 125;
    }
}

.lh--md {
    line-height: 1.6;
}


.section-title {
    font-size: $h1-font-size;
    font-style: normal;
    line-height: 1.1;
    font-variation-settings: "ital" 0, "wght" 800, "wdth" 125;
  
    @include media-breakpoint-down(lg) {
        font-size: $h3-font-size;
    }
}

.section-subtitle {
    // font-family: Loew Variable;
    font-size: 40px;
    font-style: normal;
    line-height: 1.2;
    font-variation-settings: "ital" 0, "wght" 700, "wdth" 125
}

.td-none {
    text-decoration: none;
}

.loew-semibold {
    font-variation-settings: "ital" 0, "wght" 500, "wdth" 100 !important;
}

.loew-bold {
    font-variation-settings: "ital" 0, "wght" 700, "wdth" 100 !important;
}


.fs-110px {
    // font-family: Loew Variable;
    font-size: 110px;
    font-style: normal;
    line-height: 110%; /* 121px */
    font-variation-settings: "ital" 0, "wght" 700, "wdth" 125;
}

.fs-sm-110px {
    @include media-breakpoint-up(sm) {
        font-size: 110px;
        font-style: normal;
        line-height: 110%; /* 121px */
        font-variation-settings: "ital" 0, "wght" 700, "wdth" 125;
    }
}

.fs-72px {
    // font-family: Loew Variable;
    font-size: 72px;
    font-style: normal;
    line-height: 110%; /* 121px */
    font-variation-settings: "ital" 0, "wght" 700, "wdth" 125;
}

.fs-sm-72px {
    @include media-breakpoint-up(sm) {
        font-size: 72px;
        font-style: normal;
        line-height: 110%; /* 121px */
        font-variation-settings: "ital" 0, "wght" 700, "wdth" 125;
    }
}
