.btn {

    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
    line-height: 0;

    svg {
        margin-top: 0px;
        margin-left: 20px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 13px;
    }
}
 
.btn-outline-melon,
.btn-outline-primary {

    &:hover {
        color: $cream;
        svg {
            width: 46px;

            path {
                fill: $cream;
                d: path("M45.5303 6.53033C45.8232 6.23743 45.8232 5.76256 45.5303 5.46967L40.7574 0.696696C40.4645 0.403802 39.9896 0.403802 39.6967 0.696696C39.4038 0.989589 39.4038 1.46446 39.6967 1.75736L43.9393 6L39.6967 10.2426C39.4038 10.5355 39.4038 11.0104 39.6967 11.3033C39.9896 11.5962 40.4645 11.5962 40.7574 11.3033L45.5303 6.53033ZM6.55671e-08 6.75L45 6.75L45 5.25L-6.55671e-08 5.25L6.55671e-08 6.75Z") !important;
            }
            
            
        }
    }

    svg {
        width: 29px;
        path {
            d: path("M28.0303 6.53033C28.3232 6.23743 28.3232 5.76256 28.0303 5.46967L23.2574 0.696697C22.9645 0.403804 22.4896 0.403804 22.1967 0.696697C21.9038 0.989591 21.9038 1.46446 22.1967 1.75736L26.4393 6L22.1967 10.2426C21.9038 10.5355 21.9038 11.0104 22.1967 11.3033C22.4896 11.5962 22.9645 11.5962 23.2574 11.3033L28.0303 6.53033ZM0.5 6.75L27.5 6.75L27.5 5.25L0.5 5.25L0.5 6.75Z");
            // transition: d:0.8s;
            -webkit-transition: d 0.3s;
            fill: $primary;
            transition: d 0.3s;
        }

        
    }
}

.btn-outline-light {

    color: $cream;

    &:hover {
        color: $black;
        
        svg {
            width: 46px;
            path {
                fill: $black;
                d: path("M45.5303 6.53033C45.8232 6.23743 45.8232 5.76256 45.5303 5.46967L40.7574 0.696696C40.4645 0.403802 39.9896 0.403802 39.6967 0.696696C39.4038 0.989589 39.4038 1.46446 39.6967 1.75736L43.9393 6L39.6967 10.2426C39.4038 10.5355 39.4038 11.0104 39.6967 11.3033C39.9896 11.5962 40.4645 11.5962 40.7574 11.3033L45.5303 6.53033ZM6.55671e-08 6.75L45 6.75L45 5.25L-6.55671e-08 5.25L6.55671e-08 6.75Z");
            }
        }
    }

    svg {
        width: 28px;
        path {
            transition: d 0.3s;
            fill: $cream;
            d: path("M27.8777 6.99908C28.1706 6.70618 28.1706 6.23131 27.8777 5.93842L23.1048 1.16545C22.8119 0.872554 22.337 0.872554 22.0441 1.16545C21.7512 1.45834 21.7512 1.93321 22.0441 2.22611L26.2868 6.46875L22.0441 10.7114C21.7512 11.0043 21.7512 11.4792 22.0441 11.772C22.337 12.0649 22.8119 12.0649 23.1048 11.772L27.8777 6.99908ZM0.347412 7.21875L27.3474 7.21875L27.3474 5.71875L0.347412 5.71875L0.347412 7.21875Z");
        }
    }
}
