.section--home-hero {
    background-color: $primary;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    // content below the transparent logo
    .hero-content {
        position: absolute;
        // bottom: 20%;
        width: 80%;
        transform: translate(-25px, 198px);

        @include media-breakpoint-up(xxl) {
            transform: translateY(250px);
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
            transform: translate(10px, 180px);
        }

        .h1 {
            @include media-breakpoint-down(laptop) {
                font-size: 2.5em;
            }
            @include media-breakpoint-down(xxl) {
                font-size: 2em;
            }
            @include media-breakpoint-down(lg) {
                font-size: 1.5em;
            }
        }
 

    }

    .hero-scroll-button {
        position: absolute;
        bottom: -65px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__object {
        position: absolute;
        top: 20%;
        left: 0%;
        /* transform: translate(-50%,-50%); */
        z-index: 100;
        overflow: hidden;

        video {
            display: block;
            height: 56.25vw;
            left: 0;
            min-height: auto;
            min-width: auto;
            position: absolute;
            top: 0;
            transform: translate(0%,-35%);
            width: 100vw;
            object-fit: cover;
            z-index: -1;
            @include media-breakpoint-down(sm) {
                transform: translate(0%, -25%);
                height: 57vh;
            }
        }

        .desktop-image {
            width: 100vw;
            height: auto;
        }

        .hero-logo {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 120;
            transform: translate(-50%, -50%);
            
            @include media-breakpoint-down(sm) {
                top: auto;
                bottom: 0;
                img {
                    max-width: 290px;
                    // width: 100%;
                }
            }
        }

        .hero-text {
            position: absolute;
            bottom: 40px;
            right: 20vw;
            @include media-breakpoint-down(xxl) {
                bottom: 20px;
                right: 20vw;
                width: 80px;
            }
            @include media-breakpoint-down(xl) {
                bottom: 5px;
                right: 19vw;
                width: 80px;
            }
            @include media-breakpoint-down(lg) {
                width: 60px;
            }
            @include media-breakpoint-down(sm) {
                bottom: 120px;
                right: 10vw;
            }
        }
    }
}

.section--hero {
    height: 100vh;
    width: 100vw;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .hero-scroll-button {
        position: absolute;
        bottom: -65px;
        left: 50%;
        transform: translateX(-50%);
    }

    .subtitle {
        color: $primary;
        font-size: 16px;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        font-variation-settings: "wght" 700, "wdth" 130;
    }

    .title {
        color: #FFF;
        text-shadow: 0px 0px 36px rgba(0, 0, 0, 0.25);
        font-size: 60px;
        font-style: normal;
        line-height: 110%;
        font-variation-settings: "wght" 800, "wdth" 125;
        margin-top: 8px;
        margin-bottom: 0;

        @include media-breakpoint-down(sm) {
            font-size: 40px;
        }
    }

    .hero-content {
        position: absolute;
        bottom: 0;
        padding-bottom: 156px;
        width: 100%;
    }
}
