.img-greyscale-hoverable,
.img-hoverable {
    cursor: pointer;
    filter: grayscale(1);
    transition: 0.3s filter;

    &:hover {
        filter: grayscale(0);
    }
}

.img-sat-hoverable {
    cursor: pointer;
    filter: saturate(0);
    transition: 0.3s filter;

    &:hover {
        filter: saturate(1);
    }
}

.img-black-hoverable {
    cursor: pointer;
    filter: brightness(0) saturate(0%);
    transition: 0.3s filter;

    &:hover {
        filter: brightness(1) saturate(1);
    }
}