#main-nav {
    &.bg-cream {
        .navbar-toggler {
            border-color: $melon;
            background-color: $melon;
            box-shadow: none;
            border: 0;

            &.collapsed {
                background-color: transparent;
                .navbar-toggler-icon {
                    background-image: escape-svg($navbar-dark-toggler-icon-bg);
                }
            }
                       
            .navbar-toggler-icon {
                background-image: escape-svg($navbar-white-toggler-icon-bg);
            }

            @include media-breakpoint-down(sm) {
                background-color: transparent;
            }
        }
    }
    .navbar-nav {

        .nav-item {

            margin-right: 37px;

            &:last-child {
                margin-right: 0;
            }

            .nav-link {
                font-size: 16px;
                // color: $cream;
                padding: 0;
                border-bottom: 1px solid transparent;
                @include media-breakpoint-down(md) {
                    padding: 15px 0;
                }
                &:hover {
                    border-bottom-color: $cream;
                }
            }

        }
    }
}


// Place color based on page

.home .navbar-nav {
    .nav-item {

        .nav-link {
            color: $cream;
        }
    }
}

body:not(.home) .navbar-nav {
    .nav-item {

        .nav-link {
            color: $primary;
        }
    }
}


.footer-main-menu-container {
    margin-top: 14px;
    padding-left: 16px;
    padding-right: 18px;

    .navbar-nav {

        width: 100%;

        .nav-item {
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid $primary;
            margin-right: 0;

            .nav-link {
                color: $primary;
                // font-family: Loew Variable;
                font-size: 16px;
                font-style: normal;
                // font-weight: 500;
                line-height: normal;
                text-transform: uppercase;
                font-variation-settings: "wght" 400, "wdth" 130
            }
        }
    }

    @include media-breakpoint-down(sm) {
        padding: 0;
        margin-top: 48px;
        margin-bottom: 28px;
    }
}