.rotating-button {
    z-index: 1;
    display: inline-block;

    svg {
        position: relative;
        z-index: -1;
        display: block;
    }

    #text {
        transform-origin: center;
    }
}

// Animation
@keyframes rotate-btn{
    to{ transform: rotate(360deg); }
}

.rotating-button #text{
    animation: rotate-btn 10s linear infinite;
}

.rb-container {
    position: absolute;
    bottom: 68px;
    z-index: 10;
    left: 68px;
}