.section {
    padding-top: 99px;
    padding-bottom: 99px;

    @include media-breakpoint-down(md) {
        padding-top: 25px;
        padding-bottom: 25px;
  }

    @include media-breakpoint-down(sm) {
        padding-top: 75px;
        padding-bottom: 75px;
    }
}

.bordered-section {
    position: relative;
    // border-top: 1px solid $primary;
    // border-bottom: 1px solid $primary;
    padding-top: 77px;
    padding-bottom: 62px;
    @include media-breakpoint-down(sm) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    &::after {
        content: " ";
        position:absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: block;
        margin: 0 auto;
        border-top: 1px solid $primary;
        @include media-breakpoint-down(sm) {
            width: 95%;
        }
    }
    &::before {
        content: " ";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        display: block;
        margin: 0 auto;
        border-bottom: 1px solid $primary;
        @include media-breakpoint-down(sm) {
            width: 95%;
        }
    }
}


.section--home-video-cta {  
    z-index: 100;
    width: 100%;
    /* height: 70vh; */
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        // position: fixed;
        z-index: 0;
        margin-bottom: -4px;
    }
    @include media-breakpoint-up(lg) {
        height: 767px;
    }
    @include media-breakpoint-down(lg) {
        height: 700px;
    }
    @include media-breakpoint-down(sm) {
        .img-absolute-center {
            top: 40%;
            img {
                height: 300px;
            }
        }
        .rb-container {
            left: 50%;
            transform: translateX(-50%);
        }
    } 
}

.section--decarbonise {
    height: 1256px;
    width: 100%;
    overflow: hidden;
    position: relative;
    @include media-breakpoint-down(md) {
        height: 1050px;
        padding-top:72px;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%);
    }

    video {
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    
}

.section--with-divider {
    background: linear-gradient(to left, #232323 50%, #fff 61%);
    // margin-bottom: -1px;
    z-index: -1;
    margin-bottom: -1px;
}

.section--concept {

    background: linear-gradient(to left, #fff 61%, $cream 50%);
    @include media-breakpoint-down(md) {
        background:  $cream;
    }
    .content-container {
        width: 35%;
        @include media-breakpoint-down(md) {
            width: 100%;
            h2 {
                br {
                    display: none;
                }
            }
        }
    }

    .content-container-bottom {
        height: 100%;
    }
    
    .content {
        padding-top: 135px;
        padding-left: 0;
        padding-right: 0;
        @include media-breakpoint-down(md) {
            padding-right: calc(var(--bs-gutter-x) * .5);
            padding-left: calc(var(--bs-gutter-x) * .5);
        }
    }

    .img-concept {
        position: absolute;
        top: 15%;
        left: 10%;
        z-index: 2;
        @include media-breakpoint-down(xxl) {
            top: 30%;
        }
        @include media-breakpoint-down(xl) {
            top: 50%;
        }
        @include media-breakpoint-down(lg) {
            top: 70%;
        }
        @include media-breakpoint-down(md) {
            top: 102%;
            left: 0;
        }
        .outline {
            position: relative;
            z-index: 3;
        }

        .fill {
            position: absolute;
            top: 54px;
            left: 23px;
            @include media-breakpoint-down(xl) {
                top: 38px;
                left: 16px;
            }
            @include media-breakpoint-down(sm) {
                top: 17px;
                left: 7px;
            }
        }
        
        img {
            // z-index: ;
            position: relative;
        }
    }
}

.vertical-link-container {
    height: 682px;
    @include media-breakpoint-down(md) {
        height: 565px;
    }
    .bg-cream {
        @include media-breakpoint-down(md) {
            background: linear-gradient(to top, #fff 88%, #f7f2e5 50%) !important; 
        }
    }
    .vertical-link {
        transform: rotate(270deg);   
        position: absolute;
        left: -15px;
        bottom: 60px;
        transform-origin: 0 0;
    
        a {
            text-decoration: none;
            font-size: 16px;
            font-style: normal;
            // font-weight: 700;
            line-height: normal;
            letter-spacing: 1.6px;
            text-transform: uppercase;
            font-variation-settings: "ital" 0, "wght" 700, "wdth" 120;
        }
    }

    .vertical-link-lg {
        transform: rotate(270deg);   
        position: absolute;
        text-align: center;
        font-size: 28px;
        font-style: normal;
        // font-weight: 700;
        line-height: 110%; /* 30.8px */
        text-transform: uppercase;
        text-decoration: none;
        z-index: 100;
        transform-origin: center;
        @include media-breakpoint-down(sm) {
            font-size: 14px;
            font-style: normal;
            font-variation-settings: "ital" 0, "wght" 700, "wdth" 125;
            line-height: 110%; /* 15.4px */
            text-transform: uppercase;
        }
        
        a {
            display: block;
            font-variation-settings: "ital" 0, "wght" 700, "wdth" 125;
            text-decoration: none;
            @include media-breakpoint-only(md) {
                font-variation-settings: "ital" 0, "wght" 700, "wdth" 100;
            }
            @include media-breakpoint-down(md) {
                font-variation-settings: "ital" 0, "wght" 700, "wdth" 125;
            }
        }
        &.vl-1 {
            bottom: 204px;
            left: 175px;
            @include media-breakpoint-down(xxl) {
                left: 150px;
            }
            @include media-breakpoint-down(xl) {
                left: 90px;
            }
            @include media-breakpoint-down(lg) {
                left: 60px;
                bottom: 173px;
            }
            @include media-breakpoint-down(md) {
                left: unset;
                bottom: 140px;
                right: 160px;
            }
            &::after {
                width: 120%;
            }
        }
        &.vl-2 {
            bottom: 260px;
            left: 330px;
            @include media-breakpoint-down(xxl) {
                left: 250px;
            }
            @include media-breakpoint-down(xl) {
                left: 170px;
            }
            @include media-breakpoint-down(lg) {
                left: 90px;
                bottom: 218px;
            }
            @include media-breakpoint-down(md) {
                left: unset;
                bottom: 170px;
                right: 50px;
            }
            &::after {
                width: 115%;
            }
        }
        &.vl-3 {
            bottom: 238px;
            right: -13%;
            @include media-breakpoint-down(xxl) {
                right: -14%;
            }
            @include media-breakpoint-down(xl) {
                right: -16%;
            }
            @include media-breakpoint-down(lg) {
                right: -25%;
                bottom: 200px;
            }
            @include media-breakpoint-down(md) {
                right: -25px;
                bottom: 159px;
            }
            &::after {
                width: 150%;
            }
        }
        &::after {
            content: "";
            border-bottom: 1px solid var(--bs-melon);
            bottom: 1px;
            height: 1px;
            position: absolute;
            bottom: -14px;
            left: 0;
        }
    }

    .vertical-links {
        flex-basis: 60%;
        position: relative;
        @include media-breakpoint-down(md) {
            flex-basis: 100%;
        }
    }
}

.section--vision {
    background: $melon;
    padding-bottom: 255px;
    position: relative;
    @include media-breakpoint-down(md) {
        padding-bottom: 96px;
        .section-subtitle {
            font-size: 28px;
        }
    }
    &::before {
        content: "";
        background: url(../img/vision-section.png) no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        transform: translateY(-40%);
    }
}


.section--call-to-action {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-down(md) {
        height: 750px;
        .bg-hoverable {
            height: 100%;
            .img-sat-hoverable {
                height: 100%;
                object-fit: cover;
            }
        }
        .section-title {
            font-size: 40px;
        }
    }
    .content {
        position: absolute;
        top: 50%;
        /* left: 0; */
        transform: translateY(-50%);
        margin: auto;
    }

    @include media-breakpoint-down(sm) {
        img {
            min-height: 700px;
            object-fit: cover;
            object-position: 75%;
        }
    }


}
.section--content-lg,
.section--content {
    padding: 130px 0;

    .h4-title {
        font-size: 36px;
        font-style: normal;
        line-height: 120%; /* 43.2px */
        font-variation-settings: "ital" 0, "wght" 500, "wdth" 100;
        margin-bottom: 38px;

        @include media-breakpoint-down(sm) {
            font-size: 24px;
        }
    }

    .content {
        font-size: 24px;
        font-style: normal;
        font-variation-settings: "ital" 0, "wght" 300, "wdth" 100;
        line-height: 1.6;
        margin-bottom: 38px;
        @include media-breakpoint-down(sm) {
            font-size: 20px;
        }
    }

    @include media-breakpoint-down(sm) {
        padding: 75px 0;
    }
}

.section--content-lg {
    padding: 235px 0;

    @include media-breakpoint-down(sm) {
        padding: 75px 0;
    }
}

.section--large-content {
    padding: 122px 0;
    background: $primary;

    .main-title {
        font-size: 60px;
        font-style: normal;
        line-height: 110%; /* 66px */
        font-variation-settings: "ital" 0, "wght" 800, "wdth" 125;
        margin-bottom: 0;
        @include media-breakpoint-down(sm) {
            font-size: 40px;
        }
    }

    .headline {
        font-size: 40px;
        font-style: normal;
        line-height: 120%;
        font-variation-settings: "ital" 0, "wght" 700, "wdth" 125;
        @include media-breakpoint-down(sm) {
            font-size: 28px;
            margin-top: 24px;
        }
    }

    .headline-body {
        /* Body Large */
        font-size: 24px;
        font-style: normal;
        font-variation-settings: "ital" 0, "wght" 300, "wdth" 100;
        line-height: normal;
        line-height: 1.6;
    }

    .article-body {
        font-size: 20px;
        font-style: normal;
    }

    .article-content {
        font-variation-settings: "ital" 0, "wght" 300, "wdth" 100;
        line-height: 1.6;
    }

    .bordered-content {
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: $black;
        &.border-white {
            border-color: $white;
        }
        
        height: 100%;
    }
}

.section--jumbotron {
    height: 736px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @include media-breakpoint-down(sm) {
        height: 360px;
    }
}

.section--dates {
    padding-top: 80px;
    padding-bottom: 138px;

    &-with-bg {
        height: 899px;
        padding-top: 110px;
        padding-bottom: 138px;
        
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('../img/date-background.png');
        background-size: cover;

        .date-title-lg {
            flex-basis: 58%
        }
    }

    &-lg {
        padding-top: 110px;
        padding-bottom: 205px;
    }

    .date-title {
        flex-basis: 15%;
    }
    .arrow {
        flex-basis: 53%;
    }
    .right-title {
        flex-basis: 35%;
    }
}

.section--contact {
    padding-top: 100px;
    padding-bottom: 135px;
}