.section {
    padding-top: 99px;
    padding-bottom: 99px;
}

.bordered-section {
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
    padding-top: 77px;
    padding-bottom: 62px;
}


.section--home-video-cta {  
    z-index: 100;
    // position: relative;
    // overflow: hidden;

    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        // position: fixed;
        z-index: 0;
        margin-bottom: -4px;
    }
}

.section--decarbonise {
    height: 1206px;
    width: 100%;
    overflow: hidden;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%);
    }

    video {
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    
}

.section--with-divider {
    background: linear-gradient(to left, #232323 50%, #fff 61%);
    // margin-bottom: -1px;
    z-index: -1;
    margin-bottom: -1px;
}

.section--concept {

    background: linear-gradient(to left, #fff 61%, $cream 50%);
    .content-container {
        width: 35%;
    }

    .content-container-bottom {
        height: 100%;
    }
    
    .content {
        padding-top: 135px;
        padding-left: 0;
        padding-right: 0;
    }

    .img-concept {
        position: absolute;
        top: 15%;
        left: 10%;
        z-index: 100;
    }
}

.vertical-link-container {
    height: 682px;

    .vertical-link {
        transform: rotate(270deg);   
        position: absolute;
        left: -15px;
        bottom: 60px;
        transform-origin: 0 0;
    
        a {
            text-decoration: none;
            font-size: 16px;
            font-style: normal;
            // font-weight: 700;
            line-height: normal;
            letter-spacing: 1.6px;
            text-transform: uppercase;
            font-variation-settings: "ital" 0, "wght" 700, "wdth" 120;
        }
    }

    .vertical-link-lg {
        transform: rotate(270deg);   
        position: absolute;
        text-align: center;
        font-size: 28px;
        font-style: normal;
        // font-weight: 700;
        line-height: 110%; /* 30.8px */
        text-transform: uppercase;
        text-decoration: none;
        
        a {
            font-variation-settings: "ital" 0, "wght" 700, "wdth" 125;
            text-decoration: none;
        }
        &.vl-1 {
            bottom: 204px;
            left: 175px;
        }
        &.vl-2 {
            bottom: 260px;
            left: 330px;
        }
        &.vl-3 {
            bottom: 238px;
            right: -13%;
        }
    }

    .vertical-links {
        flex-basis: 60%;
        position: relative;
    }
}

.section--vision {
    background: $melon;
    padding-bottom: 255px;
    position: relative;

    &::before {
        content: "";
        background: url(../img/vision-section.png) no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        transform: translateY(-40%);
    }
}


.section--call-to-action {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        position: absolute;
        top: 50%;
        /* left: 0; */
        transform: translateY(-50%);
        margin: auto;
    }


}
.section--content-lg,
.section--content {
    padding: 130px 0;

    .h4-title {
        font-size: 36px;
        font-style: normal;
        line-height: 120%; /* 43.2px */
        font-variation-settings: "ital" 0, "wght" 500, "wdth" 100;
        margin-bottom: 38px;
    }

    .content {
        font-size: 24px;
        font-style: normal;
        font-variation-settings: "ital" 0, "wght" 300, "wdth" 100;
        line-height: 1.6;
        margin-bottom: 38px;
    }
}

.section--content-lg {
    padding: 235px 0;
}

.section--large-content {
    padding: 122px 0;
    background: $primary;

    .main-title {
        font-size: 60px;
        font-style: normal;
        line-height: 110%; /* 66px */
        font-variation-settings: "ital" 0, "wght" 800, "wdth" 125;
        margin-bottom: 0;
    }

    .headline {
        font-size: 40px;
        font-style: normal;
        line-height: 120%;
        font-variation-settings: "ital" 0, "wght" 700, "wdth" 125;
    }

    .headline-body {
        /* Body Large */
        font-size: 24px;
        font-style: normal;
        font-variation-settings: "ital" 0, "wght" 300, "wdth" 100;
        line-height: normal;
        line-height: 1.6;
    }

    .article-body {
        font-size: 20px;
        font-style: normal;
    }

    .article-content {
        font-variation-settings: "ital" 0, "wght" 300, "wdth" 100;
        line-height: 1.6;
    }

    .bordered-content {
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: $black;
        &.border-white {
            border-color: $white;
        }
        
        height: 100%;
    }
}

.section--jumbotron {
    height: 736px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.section--dates {
    padding-top: 67px;
    padding-bottom: 138px;

    &-with-bg {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background: url('../img/date-background.png');
    }

    &-lg {
        padding-top: 110px;
        padding-bottom: 205px;
    }
}

.section--contact {
    padding-top: 100px;
    padding-bottom: 135px;
}