// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here






.home .wrapper {
    padding-top: 0;
    padding-bottom: 0;
}

body {
    font-variation-settings: "ital" 0, "wght" 400, "wdth" 100;
}